@media {
    img {
        width: 75%;
    }

    h1 {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
        background-color: #c6bdb7;
        border: none;
        border-radius: 10px;
        text-align: center;
    }

    button {
        background-color: #c6bdb7;
        border: none;
        border-radius: 10px;
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
    }

    h5 {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
    }

    h6 {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
    }

    a {
        background-color: #c6bdb7;
        border: none;
        padding: 1rem;
        text-align: center;
        color: #000;
        font-size: 16px;
        margin: 0;
        border-right: 40px solid;
        border-left: 40px solid;
        border-right-color: #c6bdb7;
        border-left-color: #c6bdb7;
    }

    .small-font {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
    }

    ul {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }

    hr {
        border: none;
        height: 2px;
        background-color: black;
        margin: 20px;
    }

}

@media (min-width: 576px) {
    img {
        width: 75%;
    }

    h1, h2, h5, h6, ul, .small-font, button, a {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        background-color: #c6bdb7;
        border: none;
        border-radius: 10px;
        text-align: center;
    }

    button {
        background-color: #c6bdb7;
        border: none;
        border-radius: 10px;
    }

    h6 {
        font-size: 16px;
    }

    a {
        background-color: #c6bdb7;
        border: none;
        padding: 1rem;
        text-align: center;
        color: #000;
        font-size: 16px;
        margin: 0;
        border-right: 40px solid #c6bdb7;
        border-left: 40px solid #c6bdb7;
    }

    .small-font {
        font-size: 10px;
    }

    ul {
        font-size: 20px;
    }

    hr {
        border: none;
        height: 2px;
        background-color: black;
        margin: 20px;
    }
}

/* Base styles (mobile-first) */
img {
    width: 75%;
}

h1, h2, h5, h6, .small-font, ul, button, a {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    background-color: #c6bdb7;
    border: none;
    border-radius: 10px;
    text-align: center;
}

button {
    background-color: #c6bdb7;
    border: none;
    border-radius: 10px;
}

h6 {
    font-size: 16px;
}

a {
    background-color: #c6bdb7;
    border: none;
    padding: 1rem;
    text-align: center;
    color: #000;
    font-size: 16px;
    margin: 0;
    border-right: 40px solid #c6bdb7;
    border-left: 40px solid #c6bdb7;
}

.small-font {
    font-size: 10px;
}

ul {
    font-size: 20px;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 20px;
}


@media (min-width: 768px) {
    img {
        width: 50%; 
    }

    h1 {
        font-size: 36px; 
    }

    h2 {
        font-size: 28px;
        padding: 1rem 2rem; 
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    a {
        font-size: 18px;
        padding: 1rem 2rem; 
        border-right-width: 60px;
        border-left-width: 60px;
    }

    .small-font {
        font-size: 12px;
    }

    ul {
        font-size: 22px;
    }

    button {
        font-size: 18px;
        padding: 0.8rem 1.5rem;
        background-color: #c6bdb7;
        border: none;
    }
}

@media (min-width: 992px) {

    img {
        width: 75%;
    }

    h1 {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
        background-color: #c6bdb7;
        border: none;
        border-radius: 10px;
        text-align: center;
    }

    button {
        background-color: #c6bdb7;
        border: none;
        border-radius: 10px;
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
    }

    h5 {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
    }

    h6 {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
    }

    a {
        background-color: #c6bdb7;
        border: none;
        padding: 1rem;
        text-align: center;
        color: #000;
        font-size: 16px;
        margin: 0;
        border-right: 40px solid #c6bdb7;
        border-left: 40px solid #c6bdb7;
    }

    .small-font {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
    }

    ul {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }

    hr {
        border: none;
        height: 2px;
        background-color: black;
        margin: 20px;
    }

}




